<div class="form-wrapper mx-auto zoomIn" id="animateForm">
  <div class="form-holder">
    <div class="form-title">
      <a  class="" routerLink="/">Proxertise</a>
    </div>
    <!--<h5 class="text-center title mt-2"> Login</h5>-->
    <form [formGroup]="loginForm">
    <!-- <form> -->
      <div class="form-group">
        <!-- <label> Email</label> -->
        <input class="form-control" type="Email" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
        <!-- <label> Password</label> -->
        <input class="form-control" type="password" formControlName="password" placeholder="Password">
      </div>
      <div *ngIf="error" class="form-row">
        <div class=" col-12 bg-danger text-center p-2">
          Incorrect email/password
        </div>
      </div>
      <div class="form-row">
        <button type="submit" class="col btn btn-outline-primary" (click)="login(loginForm.value)">Login</button>
      </div>
    </form>
  </div>
  <div class="form-footer text-center mt-3">
    Don't have an account?
    <a routerLink="/signup">Sign Up</a> now!
  </div>
  <div class="form-footer text-center mt-2">
    <a href="javascript:void(0)">Forgot Password</a>?
  </div>
</div>
