<nav class="navbar fixed-top navbar-expand-lg navbar-bg">
  <div class="container">
    <!-- <div class="row"> -->
    <a class="navbar-brand ml-5" href="#">Proxertise</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
            <a class="nav-link pt-3" href="#"> Home </a>
          </li> -->
        <li class="nav-item">
          <a href='#' class="nav-link">
            <button type="button" class="btn">Login</button>
          </a>
        </li>
        <li class="nav-item">
          <a href='#' class="nav-link">
            <button type="button" class="btn">Register</button>
          </a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
</nav>
<section class="banner-bg">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in mb-2">Welcome To Proxertise!</div>
      <div class="intro-heading text-uppercase mb-3">It's Nice To Meet You</div>
      <!-- <button class="btn btn-xl btn-masthead  text-uppercase" href="#">
        Start</button> -->
    </div>
  </div>
</header>
</section>
